<div class="card {{className}}">
    <div class="card-image">
        <a onClick="{{onClick}}">
            <figure class="image is-4by3">
                <img src="{{image}}" alt="{{title}} image" />
            </figure>
        </a>
    </div>
    <div class="card-content">
        <a class="title is-4 two-lines" onClick="{{onClick}}">
            {{title}}
        </a>

        <div class="content">
            <div class="columns is-gapless m-0">
                {{#stars}}
                <span>
                    <i class="{{.}}"></i>
                </span>
                {{/stars}}
            </div>
            <p class="three-lines">
                {{{summary}}}
            </p>
            <div class="tags">
                {{#tags}}
                <span class="tag is-light">{{.}}</span>
                {{/tags}}
            </div>
        </div>
    </div>
</div>