<div class="card {{className}}">
    <div class="card-image">
        <figure class="image is-4by3 is-skeleton">
            <img src="https://bulma.io/assets/images/placeholders/1280x960.png" alt="Placeholder image">
        </figure>
    </div>
    <div class="card-content">
        <a class="title is-4 card-title two-lines is-skeleton">
            Loading...
        </a>

        <div class="content">
            <div class="columns is-gapless m-0">
                <span class="icon is-skeleton mr-1">
                    <i class="fa-solid fa-star"></i>
                </span>
                <span class="icon is-skeleton mr-1">
                    <i class="fa-solid fa-star"></i>
                </span>
                <span class="icon is-skeleton mr-1">
                    <i class="fa-solid fa-star"></i>
                </span>
                <span class="icon is-skeleton mr-1">
                    <i class="fa-regular fa-star-half-stroke"></i>
                </span>
                <span class="icon is-skeleton mr-1">
                    <i class="fa-regular fa-star-half-stroke"></i>
                </span>
            </div>

            <div class="skeleton-lines mt-3 mb-4">
                <div></div>
                <div></div>
                <div></div>
            </div>

            <div class="tags">
                <span class="tag is-skeleton">Loading</span>
            </div>
        </div>
    </div>
</div>