<div class="column skeleton {{className}}">
    <div class="card">
        <div class="card-image">
            <div class="image is-4by3 skeleton-animate"></div>
        </div>
        <div class="card-content">
            <div class="title is-4 card-title two-lines skeleton-animate"></div>

            <div class="content">
                <div class="columns is-gapless m-0">
                    <span>
                        <i class="fa-solid fa-star is-transparent"></i>
                    </span>
                </div>
                <div class="columns">
                    <div class="column is-four-fifths mb-1 ml-3 skeleton-bar"></div>
                </div>
                <div class="columns">
                    <div class="column is-two-thirds my-1 ml-3 skeleton-bar"></div>
                </div>
                <div class="columns">
                    <div class="column is-two-fifths mt-1 ml-3 skeleton-bar"></div>
                </div>
            </div>
            <div class="tags">
                <span class="tag is-light is-transparent skeleton-animate">tags</span>
            </div>
        </div>
    </div>
</div>